.text-input {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  font-size: $font-lg;
  font-weight: 300;
  height: 46px;
  padding: $s-size;

  &__error {
    border: 1px solid $bright-red;
  }
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
