{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": [ "error", "never" ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [ "__REDUX_DEVTOOLS_EXTENSION__" ]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": 0,
    "import/first": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "specialLink": [ "to" ]
      }
    ],
    "one-var": 0,
    "one-var-declaration-per-line": 0
  }
}
