*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // makes 1rem = 10px (original: 1rem = 16px)
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

:focus {
  outline: 0;
}
