// Colors
$translucent-blue: rgba(53, 63, 81, 0.9);
$light-blue: #0086C2;
$dark-blue: #364051;
$off-white: #f7f7f7;
$grey: #666;
$dark-grey: #333333;
$bright-red: #FF3A4F;

// Font Size
$font-sm: 1.4rem;
$font-md: 1.6rem;
$font-lg: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
